.email_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  height: 1100px;
  background: linear-gradient(#fff, #90e0ef);
}
.email_form > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 25px;
  background-color: #f3f3f3;
  width: 450px;
  height: 600px;
  border: 2px solid #555;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.email_form input {
  width: 400px;
  height: 25px;
}
.email_form label {
  margin: 10px 0 10px 0;
}
.email_form textarea {
  width: 400px;
  height: 100px;
}
.email_form input:last-child {
  margin-top: 20px;
  width: 400px;
  height: 30px;
  background-color: #1d3557;
  color: #fff;
}
