.container {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
  background: linear-gradient(#fff, #90e0ef);
}
/* 홈 버튼 */
.container > a > div:first-child {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 80px;
  border: 2px solid #000;
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}
.container > a > div:first-child h2 {
  font-size: 20px;
}
.container > a > div:first-child:hover {
  background-color: #023047;
}
.container > a > div:first-child:hover > h2 {
  color: #ffffff;
}
/* 이메일 양식 */
.email_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  height: 1050px;
}
.email_form > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 25px;
  background-color: #f3f3f3;
  width: 450px;
  height: 600px;
  border: 2px solid #555;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.email_form input {
  width: 400px;
  height: 25px;
}
.email_form label {
  margin: 10px 0 10px 0;
}
.email_form textarea {
  width: 400px;
  height: 100px;
}
.email_form input:last-child {
  margin-top: 20px;
  width: 400px;
  height: 30px;
  background-color: #1d3557;
  color: #fff;
}
@media (max-width: 1015px) {
  /* 이메일 양식 */
  .email_form {
    padding-top: 50px;
  }
  .email_form > form {
    width: 350px;
  }
  .email_form input {
    width: 300px;
  }
  .email_form textarea {
    width: 300px;
  }
  .email_form input:last-child {
    width: 300px;
  }
}
