.head {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;
}

/* 헤더상단 */
.head_in_top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
}
/* 헤더상단 콘텐츠*/
/* 로그인을 안했으면 */
.head_content_top {
  margin-right: 50px;
}
.head_content_in_top_login {
  display: flex;
}
.head_content_in_top_login > div {
  cursor: pointer;
  padding: 0px 10px;
}
.head_content_in_top_login > div p:hover {
  color: rgb(255, 74, 74);
}
.head_content_in_top_login > div:first-child {
  border-right: 1px solid #000;
}
/* 로그인을 했으면 */
.head_content_in_top_loginOut {
  display: flex;
}
.head_content_in_top_loginOut > div {
  cursor: pointer;
  padding: 0px 10px;
}
.head_content_in_top_loginOut > div p:hover {
  color: rgb(255, 74, 74);
}
/* //////////////// */
/* 모바일용 확장메뉴 */
.head_menu {
  display: none;
  z-index: 3;
  position: absolute;
  padding-top: 7px;
  left: 5px;
  font-size: 40px;
  cursor: pointer;
}
.head_menu_content {
  display: none;
  position: absolute;
  transition: all 0.3s ease-in;
  width: 80%;
  top: 0;
  left: 0;
  height: 9999px;
  background-color: #fff;
}
.icon_bar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #00bfff;
}
.icon_bar div:hover > a {
  color: #fff;
}
.icon_bar p {
  font-size: 15px;
}
.head_menu_content > div:first-child {
  margin: 0;
}
.head_menu_content > div:nth-child(2) {
  margin-top: 80px;
}
.head_menu_content > div:nth-child(2) > div {
  display: flex;
}
.head_menu_content > div {
  margin: 12px 12px;
}

/* 헤더 */
.head_in {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
/* 로고 */
.head_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 200px;
  height: 100px;
}
.head_logo > a {
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* 헤드 컨텐츠 */
.head_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 1000px;
  /* height: 100px; */
  height: auto;
}
.head_content_in {
  display: flex;
  width: 100%;
  height: 100px;
}
.head_content_in > div {
  /* margin: 0 80px; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.head_content_in > div:hover > div {
  display: flex;
}
.head_content_in > div > div {
  position: absolute;
  left: 0px;
  top: 140px;
  width: 100%;
  height: 160px;
  display: none;
  justify-content: space-between;
  background-color: #fff;
}
.head_content_in > div:last-child:hover > p {
  border-bottom: 0px;
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* 1015px 이하일때 아래 스타일 적용 */
@media (max-width: 1015px) {
  /* 메뉴 아이콘 */
  .head_menu {
    display: block;
  }
  .head_menu_content {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 9999px;
    z-index: 100;
  }
  /* 헤더상단 콘텐츠*/
  .head_content_top {
    /* margin-right: 50px; */
    /* margin-right: 25px; */
    margin-right: 12px;
  }
  .head_content_in_top_login > div {
    cursor: pointer;
    /* padding: 0 10px; */
    /* padding: 0 7px; */
    padding: 0 5px;
    /* font-size: 15px; */
    /* font-size: 14px; */
    font-size: 13px;
  }
  .head_in {
    display: flex;
  }
  /* 로고 */
  .head_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
    /* margin-left: 25px; */
    margin-left: 12px;
    /* width: 200px; */
  }
  .head_logo > a {
    width: 200px;
    height: 100px;
  }
  /* 헤드 컨텐츠 */
  .head_content {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 50px; */
    /* margin-right: 25px; */
    margin-right: 12px;
    /* width: 1000px; */
    /* width: 700px; */
    width: 400px;
    height: 100px;
  }
  .head_content_in {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .head_content_in > div {
    font-size: 20px;
    /* width: 250px; */
    /* width: 175px; */
    width: 100px;
    display: none;
    /* display: flex;
          flex-direction: column;
          align-items: center; */
  }
  .head_content_in > div:last-child {
    display: flex;
  }
}
