.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1100px;
}
/* 배너 */
.banner {
  width: 100%;
  height: 1100px;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.banner_title {
  margin-top: 120px;
  font-size: 33px;
  color: #777;
}
.banner_keyword {
  font-size: 50px;
  font-weight: bold;
  padding: 25px 0;
  color: #000;
}
/* //////////////// */
/* 테이블 */
/* //////////////// */
.table {
  width: 100%;
  height: 100%;
}
.table > div:first-child {
  position: absolute;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
/* 카테고리 */
.category {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 100px;
}
.category_button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: rgb(150, 150, 150) 0px 5px 15px;
  background-color: #fff;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: #777;
  border: 1px solid transparent;
}

/* 테이블 헤드 */
.table_head {
  width: 450px;
  display: flex;
  height: 100px;
}
.table_head img {
  position: absolute;
  z-index: -1;
  margin: 5px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.table_head > div {
  display: flex;
  margin: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: rgb(150, 150, 150) 0px 5px 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table_head > div:hover > h4 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #2a9d8f;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* 테이블 내용 */
.table_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1100px;
}
.table_content > .content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  justify-content: space-around;
}
/* 관광지 컨텐츠 */
.content > div {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  height: 300px;
  border-radius: 100px;
  box-shadow: rgb(150, 150, 150) 0px 5px 15px;
  /* transition: all 0.2s ease-in; */
  z-index: 2;
}
.content > div:hover {
  height: 200px;
}
.content > div:hover > p {
  display: none;
}
.content > div:hover .hover_content {
  display: flex;
}
.content > div:not(:hover) {
  transition: none;
}
/* 관광지 사진 */
.content > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
/* hover 창 */
.hover_content {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.hover_content > div:first-child {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  opacity: 0.5;
}
.hover_content > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
/* hover 자세히 보기 버튼 */
.hover_content p {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background-color: #333;
  border: 2px solid #fff;
  color: #fff;
}
.hover_content p:hover {
  background-color: #000;
}
/* 관광지 장소명 */
.content > div > p:nth-child(2) {
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 10px #000;
}

.table_content > div > div:nth-child(2) {
  margin-bottom: 200px;
}
.table_content > div > div:nth-child(4) {
  margin-top: 200px;
}

.mobile_button {
  display: none;
}

@media (max-width: 1015px) {
  .container {
    height: 900px;
  }
  /* 배너 */
  .banner {
    height: 900px;
    background-image: url('../../../image/together_cartoon.jpg');
    background-size: 200% 130%;
  }
  .banner_title {
    font-size: 24px;
  }
  .banner_keyword {
    font-size: 33px;
  }
  .table_content {
    height: 900px;
  }
  .table_content > .content {
    overflow-x: scroll;
  }
  .content > div {
    margin: 25px;
  }
  /* .table_content > .content > div > p {
    display: block;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
  } */
  .table > div:first-child {
    position: absolute;
    width: 150px;
    height: 400px;
    padding-top: 250px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }
  /* 카테고리 */
  .category {
  }
  .category_button {
    margin-left: 3px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  /* 테이블 헤드 */
  .table_head {
    display: flex;
    z-index: 3;
    width: auto;
    justify-content: center;
  }
  .table_head > div {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  .table_head > div > img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  .table_head > div > h4 {
    font-size: 14px;
  }
  /* 테이블 내용 */
  .table_content > .content {
    justify-content: flex-start;
  }
  /* 관광지 장소명 */
  .content > div > p:nth-child(2) {
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
  }
  .mobile_button {
    z-index: 3;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content > div:hover {
    height: 300px;
  }

  .content > div:hover p:last-child {
    display: flex;
  }
  .content > div:hover p:nth-child(2) {
    display: block;
  }
  .content > div:hover .hover_content {
    display: none;
  }
}
